table.a{
    border: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.b{
    border: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.c{
    
    border: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}

table.d{
    border: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.e{
    border: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.f{
    
    border: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.g{
    
    border: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.h{
    
    border:solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.i{
    border: solid 2px;
    
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.j{
    border: solid 2px;
    
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.k{
    border: solid 2px;
    
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.l{
    border: solid 2px;
    
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
