
table.a{
    border-right: solid 2px;
    border-bottom: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.b{
    border-right: solid 2px;
    border-bottom: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.c{
    
    border-bottom: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}

table.d{
    border-bottom: solid 2px;
    border-right: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.e{
    border-bottom: solid 2px;
    border-right: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.f{
    
    border-bottom: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.g{
    
    border-right: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.h{
    
    border-right: solid 2px;
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}
table.i{
    
    
    float:left;
    width:30%;
    height:200px;
    margin:0;
    padding: 0px;
}