*{
    padding: 0%;
    margin:0%;
}
@media screen and (min-width: 480px) {
    body {
        background-color: green;
    }
}
body>ul.nav{
    display: -webkit-flex;
    display: flex;
    list-style-type: none;
    list-style-type: none;
    background-color: navajowhite;
    margin:0;
    padding: 0;
    margin-top:50px;
    margin-bottom:20px;
    
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}
body>ul.nav>li{
    display:inline;
    text-align: center;
    text-decoration: none;
    font-size: large;
    margin:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body>ul.nav>li>a{
    text-decoration: none;
}

img{
        float: left;
        width:250px;
        height:250px;
        border-radius: 60%;
        margin-right: 69px;
        margin-bottom: 59px;
        
}

.clear{
    clear: both;
    border-top: solid 3px;
    border-bottom: solid 3px;
}

.work{
    border-bottom: solid 3px;
    margin-bottom: 20;
    margin-top: 20;
}
table{
    border-collapse: collapse;
    width: 30%;
}


th, td{
    text-align: left;
    padding: 8px;
}
 tr:nth-child(even){background-color: #f2f2f2;} 
th{
    background-color: #4CAF50;
}

.skills{
    border-bottom:solid;
}


